## other style for begin/end line
Set-PSReadLineKeyHandler -Chord Ctrl+a -Function BeginningOfLine 
Set-PSReadLineKeyHandler -Chord Ctrl+e -Function EndOfLine 


## set aliases
Set-Alias -Name ghlp -Value "Get-Help"
